{% extends "rating/base.html" %}

{% load opencon %}

{% block content %}
    {% if object_list %}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Country</th>
                <th>Affiliation</th>
                <th>Interest</th>
                <th>Need rating</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            {% i_rated user.rated2.all object as i_rated_bool %}
            <tr class="{% if i_rated_bool %}table_highlight_green{% elif not object.need_rating2 %}table_highlight_red{% endif %}">
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'rating:previous2' object.pk %}">{{ object.full_name }}</a></td>
                <td>{{ object.residence }}</td>
                <td>{{ object.institution }}</td>
                <td>{{ object.area_of_interest }}</td>
                <td>{{ object.need_rating2 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <h4>Explanatory notes</h4>
        <em class="table_highlight_green">
            I have rated this applicaiton.
        </em>
        <br/>
        <em class="table_highlight_red">
            This appliaction does not need rating.
        </em>
    {% else %}
        <h1>There are no round 2 applications yet</h1>
    {% endif %}
{% endblock %}
