{% extends "rating/base.html" %}

{% block content %}
    {% if ranking %}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name / Nickname</th>
                <th>Average Score</th>
                <th>Standard Deviation</th>
                <th>Total Ratings</th>
            </tr>
        </thead>
        <tbody>
        {% for user in ranking %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user }}</td>
                <td>{{ user.avg|floatformat:2 }}</td>
                <td>{{ user.standard_deviation|floatformat:2 }}</td>
                <td>{{ user.finished_count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h1>No one has rated any application yet. Be the first!</h1>
    {% endif %}
{% endblock %}
