{% extends 'application/base.html' %}

{# #todo -- redirect to http://www.opencon2016.org/thank_you #}

{% block content %}
    <div class="col-md-6 col-md-offset-3">
        <h3>Form submitted</h3>
        <p>Your form was successfully submitted. We are sending you an e-mail confirmation right now.</p>
        <p>
            Will you help us spread the word about OpenCon? Please share this link:
            <a href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'application:referral' application.my_referral %}">
                {% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'application:referral' application.my_referral %}
            </a>
        </p>
    </div>
{% endblock %}
